*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



body{
    font-family: 'Lobster', cursive;
font-family: 'Mochiy Pop P One', sans-serif;
font-family: 'Moon Dance', cursive;
font-family: 'Oswald', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
}
nav{
    display: flex;
   justify-content: space-between;
   height: 80px;
 align-items: center;
 cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
.navigation{
    display: flex;
    list-style: none;
 
}
.navigation li{
    margin-right: 15px;
    
}
.flexible{
    display: flex;
}
.flexible img{
 padding-left: 55px;
}
.banner-left{
    padding: 20px 20px;
    margin-top: 80px;
    width: 50%;
    margin-left: 80px;
}
.banner-left h1{
  font-size:50px;
}
.banner-left p{
    padding: 20px 0;

}
button{
    background-color:crimson;
    padding:10px 25px;
    font-size: 15px;
    border-radius: 20px;
    color: white;
}
.logos{
    margin-left: 100px;
    border: 1px solid silver;
    width: 85%;
   
}

.logos img{
    padding: 35px;
}
/* Products section style */
.product-section-title{
    text-align: center;
    font-size: 35px;
    padding-top: 2em;

}
.products-items{
    margin: 80px;
}
.products-items h1{
    font-size: 30px;
}
.products-prize{
    font-size: 25px;
}
.fa-star.color{
    color: #FFC014;}
.fa-star.different{
    color: #AEAEAE;
}
.fa-star{
    font-size: 12px;
}
.product-info{
    display: flex;
}
.product-info p{
    margin-left: 10px;
    color:rgb(127, 131, 136);
}
.product-detail{
    color:rgb(127, 131, 136);
}
.products{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 80px 90px 90px 90px;
    grid-gap: 0px;
 }
 .products-items{
     border: 1px solid lightslategrey;
     border-radius: 7px;
     margin: 30px 30px 30px 30px;
     box-shadow: rgb(127, 131, 136);
     padding: 15px;
    }
    h4{
       
text-align: end;
margin-right: 80px;
color: crimson;
font-size: 25px;
    }